@media (min-width: 768px) {
    .carousel-caption  {
       margin-bottom: 20%;
       font-size: 2em;
    }

    #slider .btn {           
        font-size: 0.6em;
        padding: 5px 20px;
    }

    .carousel-indicators {
        margin-bottom: 90px;
    }

    #featured-images img {
        height: 60vh;
        width: 100%;
    }

    #featured-images .col-md-4:hover > .banner-content {
        opacity: 0.9;
    }

    #featured-images .banner-content {
        opacity: 0;
    }
}
